:root {
  --main-color-1: #DD2F6E;
  --sidebar-bg-color: #2A3F54;
  --topbar-bg-color: #3b4f63;
  --color-dark: #1D2231;
  --text-grey: #8390A2;
  --main-text-color: #ffffff;
  --side-width: 250px;
  --hide-sidebar-width: -250px;
}

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

/* css start for header */
header{
  z-index: 1;
  position: fixed;
  /* background: #22242A; */
  background: var(--topbar-bg-color);
  padding: 20px;
  width: calc(100% - 0%);
  top: 0;
  height: 30px;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 20%);
}

.left_area h3{
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
}

.left_area span{
  color: #19B3D3;
}
.right_profile_area{
  float: right;
  margin-top: -30px;
  margin-right: 40px;
}
.user-name {
  color: var(--main-text-color);
}
.user-role {
  color: var(--text-grey);
}
.profile_dropdown {
  position: relative;
  display: inline-flex;
}
.profile_dropdown span{
  color: #fff;
  padding: 10px;
}

.profile_dropdown .dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  top: 30px;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.profile_dropdown:hover .dropdown-content {
  display: block;
}
.drop_profile{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.right_profile_area .dropdown-item{
  display: block;
  border-top: 1px solid #e9ecef;
  padding: 10px;
  text-decoration: none;
  color: #212529;
}
.right_profile_area .dropdown-item i{
  padding-right: 10px;
}
.dropdown-item:focus,.dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

/* scroll bar css start here*/

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #19B3D3; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


/* css start for sidebar */
aside{
  z-index: 1;
  top: 0;
  background: var(--sidebar-bg-color);
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: var(--side-width);
  height: 100%;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  transition-property: left;
  overflow-y: auto;
}

.profile_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

aside .profile_info .profile_image{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}

aside .profile_info h4{
  color: #ccc;
  margin-top: 0;
  margin-bottom: 20px;
}

aside a{
  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
  font-size: 14px;
}

aside a:hover{
  background: #19B3D3;
}

aside i{
  padding-right: 10px;
}

.navigation {
  padding-bottom: 30px;
}

.mainmenu, .submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mainmenu a {
  display: block;
  text-decoration: none;
}

.mainmenu li:hover .submenu {
  display: block;
  max-height: 300px;
  overflow:auto;
}

.submenu a {
  background-color: #22242A;
  padding-left: 50px;
}

.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}
label #sidebar_btn{
  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  left: 300px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}

label #sidebar_btn:hover{
  color: #19B3D3;
}

#check:checked ~ aside{
  left: -185px;
}

#check:checked ~ aside a span{
  display: none;
}

#check:checked ~ aside a{
  font-size: 16px;
  margin-left: 165px;
  width: 100%;
}

/* css start for main content */
main{
  width: (100% - var(--side-width));
  margin-top: 60px;
  padding: 20px;
  margin-left: var(--side-width);
  background: url(background.png) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: 0.5s;
}

#check:checked ~ main{
  margin-left: 60px;
}

#check:checked ~ aside .profile_info{
  display: none;
}

#check{
  display: none;
}


main .card p{
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  opacity: 0.8;
}


/* Responsive CSS */

@media screen and (max-width: 780px){
  .prof-content {
    display: none;
  }
  aside{
    margin-left: var(--hide-sidebar-width);
  }
  .left_area h3 {
    margin-left: 30px;
  }
  label #sidebar_btn {
    left: auto;
  }
  #check:checked ~ aside{
    margin-left: 165px;
  }
  #check:checked ~ aside a span{
    display: contents;
  }
  #check:checked ~ aside a{
    margin-left: 0px;
    font-size: 14px;
  }

  main{
    margin-left: 0;
    transition: 0s;
  }

  #check:checked ~ main{
    margin-left: 0;
  }

  .active{
    display: block;
  }
.profile_dropdown span{
  display: none;  
  }
}
